// Medium devices (tablets, 360px and up)
@media (min-width: 360px) {
  .max-width {
    padding: 0 40px;    
  }
.competences .comp-content .card {
    width: 100% !important;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .footer-copyright { 
    font-size: 14px;
  }
  .about .about-content .right .text {
    font-size: 19px;
  }

  .contact .contact-content .right img {
    flex-direction: column;
    height        : 208px !important;
    width         : 325px !important;
    margin-bottom : -100px !important;
    margin-left   : 33px !important;
  }
  .competences .comp-content .card {
    width: 100% !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .max-width {
    padding: 0 23px;
  }
  .competences .comp-content .card {
    width: calc(50% - 20px)!important;
  }
}

// Large devices (desktops, 958px and up)
@media (max-width: 958px) {
  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display        : flex;
    justify-content: center;
    margin         : 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .competences .comp-content .card {
    width        : calc(60% - 10px);
    margin-bottom: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .max-width {
    padding: 0 50px;
  }

  .contact .contact-content .right img {
    align-content: center;
    flex-basis   : inline;
  }


  .contact .contact-content .right img {
    align-content: center;
    flex-basis   : inline;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1290px) {
  .about .about-content .left img {
    height: 470px;
    width : 400px;
    justify-content: center;
    display: flex;
  }
}

