// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .footer-copyright { 
    font-size: 14px;
  }
  .about .about-content .right .text {
    font-size: 19px;
  }

  .contact .contact-content .right img {
    flex-direction: column;
    height        : 208px !important;
    width         : 325px !important;
    margin-bottom : -100px !important;
    margin-left   : 33px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .max-width {
    padding: 0 23px;
  }
  .competences .comp-content .card {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .max-width {
    padding: 0 50px;
  }

  .contact .contact-content .right img {
    /* flex-direction: inline; */
    /* height: 254px !important; */
    /* width: 630px !important; */
    align-content: center;
    flex-basis   : inline;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}





