// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .footer-copyright { 
    font-size: 14px;
  }
  .about .about-content .right .text {
    font-size: 19px;
  }

  .contact .contact-content .right img {
    flex-direction: column;
    height        : 208px !important;
    width         : 325px !important;
    margin-bottom : -100px !important;
    margin-left   : 33px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .max-width {
    padding: 0 23px;
  }
  .competences .comp-content .card {
    width: 100%;
  }
}

// Large devices (desktops, 947px and up)
@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display        : flex;
    justify-content: center;
    margin         : 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .competences .comp-content .card {
    width        : calc(50% - 10px);
    margin-bottom: 20px;
  }

  .contact .contact-content .column {
    width        : 100%;
    margin-bottom: 35px;
  }

  .contact .contact-content .right img {
    flex-direction: column;
    height        : 184px !important;
    width         : 738px !important;
    margin-bottom : -103px !important;
    margin-left   : 49px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .max-width {
    padding: 0 50px;
  }

  .contact .contact-content .right img {
    align-content: center;
    flex-basis   : inline;
  }


  .contact .contact-content .right img {
    align-content: center;
    flex-basis   : inline;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width : 350px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
