<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wallpapertip.com/wmimgs/160-1604579_web-development.jpg);">
  <div class="container-fluid">
    <h1><%= @project.name %></h1>
  </div>
</div>

