<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1631284986/emile-perron-xrVDYZRGdw4-unsplash_z3nzrb.jpg);">
  <div class="container mb-2">
    <h1>Developpeur Web<br>freelance à Bordeaux</h1>
    <p>Développeur freelance à Bordeaux.<br>Je créé votre site internet selon votre demande.</p>
     <a class="btn-banner" target="new" href="/contact">Me contacter</a>
  </div>
</div>

