<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1631284986/emile-perron-xrVDYZRGdw4-unsplash_z3nzrb.jpg);">
  <div class="container mb-2">
    <h1>Andy Ramaroson</h1>
    <p>Developpeur Web | RoR</p>
    <p>Wagon Bdx | Bacth#484</p>
    <a class="btn-banner" href="#contact">Download CV</a>
  </div>
</div>

