<div class="banner mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbtnehfrf/image/upload/v1631284986/emile-perron-xrVDYZRGdw4-unsplash_z3nzrb.jpg);">
  <div class="container">
    <h1>Andy Ramaroson</h1>
    <p>Developpeur Web | RoR</p>
    <p>Wagon Bdx | Bacth#484</p>
     <%= link_to 'Download CV', download_path, class:"btn-banner", :target => '_blank' %>
  </div>
</div>

