<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-envelope"></i></a>
    <a href="https://github.com/AndyRama" target="new"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/andy-ramaroson" target="new"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-slack"></i></a>
  </div>
  <div class="footer-copyright">
    <span>Coding By <a href="#">Andy Ramaroson.</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
  </div>
</div>
