<%= render 'shared/header' %>
   <section class="contact" id="contact">
    <div class="max-width">
      <div class="contact-content">
        <div class="column left">
          <div class="text">Actuellement disponible</div>
          <p>Je recherche un poste de developer web en ruby pour intégrer une équipe afin
            d'acquérir plus d'expèrience. Contacter pour tout renseignement.</p>
          <div class="icons">
            <div class="row">
              <i class="fas fa-user"></i>
              <div class="info">
                <div class="sub-title">Ramaroson Andy</div>
              </div>
            </div>
            <div class="row">
              <i class="fas fa-map-marker-alt"></i>
              <div class="info">           
                <div class="sub-title">Adresse: Bordeaux, France</div>
              </div>
            </div>
            <div class="row">
              <i class="fas fa-envelope"></i>
              <div class="info">
                <div class="sub-title">Email: andyramaroson@gmail.com</div>
              </div>
            </div>
          </div>
          <div class="row">
            <i class="fab fa-linkedin"></i>
            <div class="info">
              <a href="https://www.linkedin.com/in/andy-ramaroson" target="blank">
              <div class="head">www.linkedin.com/in/andy-ramaroson</div></a>
            </div>
          </div> 
          <div class="row">
            <i class="fab fa-github"></i>
            <div class="info">
              <a href="https://github.com/AndyRama" target="blank">
              <div class="head">https://github.com/AndyRama</div></a>
            </div>
          </div> 
        </div>
        <div class="column right">
          <div class="text">Message </div>
          <form action="#">
            <div class="fields">
              <div class="field name">
                <input type="text" placeholder="Nom" required>
              </div>
              <div class="field email">
                <input type="text" placeholder="Prénom" required>
              </div>
            </div>
            <div class="field">
              <input type="text" placeholder="Email" required>
            </div>
            <div class="field">
              <input type="text" placeholder="Sujet" required>
            </div>
            <div class="field textarea">
              <textarea cols="30" rows="10" placeholder="Message ... " required></textarea>
            </div>
            <div class="button">
              <button type="submit">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>
