<%= render 'shared/header' %>
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title"></h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Actuellement disponible</div>
        <p>Je recherche un poste de developpeur Fullstack ruby pour intégrer une équipe
           afin d'acquérir plus d'expèrience. Je fais aussi partie d'un programme "Aprentis
           Tech" visant une double formation le Wagon/OCR  me permettant de vous proposer une
           alternance en contrat pro de 12 à 24 mois. N'hésiter pas à me contacter pour
           tout renseignement (Mobile sur Paris).</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">    
              <div class="sub-title">Name: Ramaroson Andy</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
              <div class="sub-title">Adresse: Bordeaux, France</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="sub-title">Email: andyramaroson@gmail.com</div>
            </div>
          </div>
        </div>
        <div class="row">
          <i class="fab fa-linkedin"></i>
          <div class="info">
              <a href="https://www.linkedin.com/in/andy-ramaroson" target="new">
              <div class="head">www.linkedin.com/in/andy-ramaroson</div></a>
            </div>
          </div>
          <div class="row">
            <i class="fab fa-github"></i>
            <div class="info">
              <a href="https://github.com/AndyRama" target="new">
                <div class="head">https://github.com/AndyRama</div></a>
            </div>
          </div>
          </div>
          <div class="column right">
            <div class="text">Laisser moi un Message. </div>
            <%= render 'shared/form' %>
           
          </div>
        </div>
      </div>        
    </div>
  </div>
</section>
<%= render 'shared/footer' %>

