<section class="contact" id="contact">
  <div class="max-width">
    <div class="contact-content">
      <div class="column left">
        <div class="text">Actuellement disponible</div>
        <p>Je recherche un poste de developer web en ruby pour intégrer une équipe afin d'acquérir plus d'expèrience. Contacter pour tout renseignement.</p>
        <div class="icons">
          <div class="row">
            <i class="fas fa-user"></i>
            <div class="info">
              <div class="sub-title">Ramaroson Andy</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">           
              <div class="sub-title">Adresse: Bordeaux, France</div>
            </div>
          </div>
          <div class="row">
            <i class="fas fa-envelope"></i>
            <div class="info">
              <div class="sub-title">Email: andyramaroson@gmail.com</div>
            </div>
          </div>
        </div>
        <div class="row">
          <i class="fab fa-linkedin"></i>
          <div class="info">
            <a href="https://www.linkedin.com/in/andy-ramaroson" target="blank">
            <div class="head">www.linkedin.com/in/andy-ramaroson</div></a>
          </div>
        </div> 
        <div class="row">
          <i class="fab fa-github"></i>
          <div class="info">
            <a href="https://github.com/AndyRama" target="blank">
            <div class="head">https://github.com/AndyRama</div></a>
          </div>
        </div> 
        <div class="row">
          <i class="fas fa-phone"></i>
            <div class="info">
              <div class="sub-title">06 30 83 28 75</div>
            </div>
          </div>
       </div>
       <div class="column right">
         <!-- Calendly inline widget begin -->
         <div class="calendly-inline-widget" data-url="https://calendly.com/andyramaroson?hide_landing_page_details=1&hide_gdpr_banner=1" style="min-width:320px;height:630px;"></div>
           <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
           <!-- Calendly inline widget end -->
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>
