<%= render 'shared/banner' %>
<%= render 'shared/profile' %>
<!-- services section start -->
<section class="competences pt-4" id="competences">
  <div class="max-width">
    <h2 class="title">Competences</h2>
    <div class="comp-content">
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Front</div>
          <p>Ruby on rails  <br> HTML/CSS <br> React (en cours) <br> Javascript 6</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-cubes"></i>
          <div class="text">Rails</div>
          <p>Patern de conception<br> Models & CRUD<br> Advanced Routing <br>Hosting & Image Upload</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-project-diagram"></i>
          <div class="text">Projets</div>
          <p>WebSocket & ActionCable <br> Background Jobs (Sidekiq) <br> DB Advanced <br> Testing (CI/CD)</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-database"></i>
          <div class="text">DB</div>
          <p>Schema Design & SQL <br> CRUD with SQL <br> Active record Basics<br> Association & Validation </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-paint-brush"></i>
          <div class="text">Design</div>
          <p>Design Sofware: Figma <br> Adobe XD <br> Zeplin <br>Whimsical </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-cogs"></i>
          <div class="text">Basic tools</div>
          <p>OS: Windows, Linux UBUNTU <br> Text edidor: VS code <br>Terminal: Powershell, GitBash <br>Shema: Draw DB</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  </section>
<%= render 'shared/footer' %>
