<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <p>Change your life and learn to code at one of our campuses around the world.</p>
        <a class="btn-banner" href="#">Views Projects</a>
      </div>
      <div class="col-sm-6">
        <div class="image-banner1">
          <%= image_tag 'https://res.cloudinary.com/dbtnehfrf/image/upload/w_500,h_300,ar_1:1,c_fill,g_auto,e_art:hokusai/v1620747804/feature_page_dc0idy.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
