  <!-- about section start -->
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">Experiences passées </h2>
      <div class="about-content">
        <div class="column left">
          <%= image_tag 'profile.jpg' %>
        </div>
        <div class="column right">
          <div class="text">Je suis un<span> Développeur Fullstack</span></div>
          <p> Issu d'un BTS en système électronique, j'ai travaillé pour la société <strong> Bio Medical Electronique
            </strong> dans différents services, pendant 5 ans
            (S.A.V, Service de Production et Bureau d'Etudes). <br><br> En 2013, j'ai entrepris une reconversion en
            informatique en tant que technicien réseau
            télécommunication. J'ai travaillé au DSI de l'hôpital de Libourne pendant 6 mois où j'ai découvert le
            fonctionnement d'un service informatique, la maintenance et
            l'administration de réseau étendu. <br><br> Par la suite, j'ai créé une entreprise de support ainsi que de
            vente de matèriel informatique pour des profzssionnelles et
            particuliers. Installation, mise en service, dépannage, assistance utilisateurs (hotline niv 1). <br> <br>
            En octobre 2020 je rejoins cette formation afin de
            développer mes connaissances dans ce domaine avec <strong>le Wagon </strong> de Bordeaux. Je suis capable de
            créer une application Web basée avec une base donnée et avec
            une bonne UX. Avoir un bon design et intégrer une A.P.I. Travailler dans une équipe avec un workflow tel que
            Git & GitHub. Déployer un projet pour le mettre en production. </p>
        </div>
      </div>
    </div>
  </section>