<div class="container">
		<div class="row">
				<div class="col-md-6">
						<div class="demo-image">
								<img src="assets/img/showcases/showcase-2/examples/home_4.jpg" alt="">
						</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
						<h4 class="header-text">Beautiful colors</h4>
						<p>
								Each color has a strong pigment and was chosen to make your design shine. Each component from our product can have one of these colors. Try on different combinations and be sure that everything works together.
						</p>
						<p>
								PSD Custom focuses on conveying the attention of your users to the important parts of the page and the actions. While keeping a light feel, the colors give the page an extra push.
						</p>
				</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-5">
						<h4 class="header-text">Pixel Perfect</h4>
						<p>
								Each color has a strong pigment and was chosen to make your design shine. Each component from our product can have one of these colors. Try on different combinations and be sure that everything works together.
						</p>
						<p>
								PSD Custom focuses on conveying the attention of your users to the important parts of the page and the actions. While keeping a light feel, the colors give the page an extra push.
						</p>
				</div>
				<div class="col-md-6 col-md-offset-1">
						<div class="demo-image">
								<img src="assets/img/showcases/showcase-2/examples/home_6.jpg" alt="">
						</div>
				</div>
		</div>
</div>

