<%#= render 'shared/banner-project' %>
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title"><%= @project.name %></h2>
  <div class="about-content">
      <div class="column left">
        <div><img src="<%= @project.photo %>" width="1300" height="900" alt=""/></div>
      </div>
      <div class="column right">
        <div class="text"><span>Challenge</span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
        <p>
          <div class="text"><span>MVP</span></div>
           It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
        <p>
          <div class="text"><span>Solution</span></div>
           It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
      </div>
    </div>
  </div>
<div class="max-width">
<div class="about-content">
      <div class="column left">
        <div><img src="<%= @project.photo %>" width="1300" height="900" alt=""/></div>
      </div>
      <div class="column right">
        <div class="text"><span>User stories</span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
      </div>
    </div>
  </div>
<div class="max-width">
<div class="about-content">
      <div class="column left">
        <div><img src="<%= @project.photo %>" width="1300" height="900" alt=""/></div>
      </div>
      <div class="column right">
        <div class="text"><span>Schema DB</span></div>
        <p>It is a mobile app allowing divorced parents to map out their time necessary to
           look after kids in common. Using the Family Plan App, divorced parents can make 
           a schedule that organizes how their kids will spend time with each of them. 
           Par la suite, j'ai créé une entreprise de support ainsi que de vente de matèriel
        </p>
      </div>
    </div>
  </div>
</section>
 