.portfolio-content .cont-box {
    padding-top: 65px;
}
.cont-box {
    max-width: 1150px;
    padding: 30px 12px;
        padding-top: 30px;
    background: #fff;
    border-radius: 4px;
    min-height: 150px;
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Arial';
    font-size: 14px;
    color: #525252;
    line-height: 130%;
}
.div {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
p{
margin: 0;
    margin-bottom: 0px;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
.text-title-second {
    margin: 40px 0 10px 0;
    font: 16px/130% 'Open Sans', sans-serif;
    color: #444444;
    text-transform: uppercase;
}
.text-title {
    margin: 20px 0 10px 0;
    font-size: 19px;
}
.project-data {
    margin-bottom: 45px;
    padding: 32px 0;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    font: 16px/130% 'Open Sans', sans-serif;
    color: #000000;
}
.flex-slider {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.project-slider img {
    display: block;
    width: 100%;
}
.slick-slide img {
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}
