.banner {
  // background-size: cover;
  background-position: center;
  padding: 20px 0;
  // background-color: #343a40;
}
.icon {
  height: 40px;
  width: 30px;
  margin-top: 10px;
  // border: 1px solid white;
  // background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stack {
flex-direction: column-reverse;
}

.image {
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 15px;
  
  &_street {
  color: white !important;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.btn-banner {
  color: black;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 14px;
  background-color: white;
}

.btn-banner:hover {
  opacity: 1;
  background-color: white;
}

