.btn-banner {
  border: 2px solid white;
  padding: 8px 24px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-left: 5px;
  text-align:center;
  opacity: 0,6;
  color: white;
  border-radius: 5px;
  // margin-top: 5px;
  width: 100px;
  // justify-content: center;
}

.btn-banner:hover {
  opacity: 1;
}

