.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.logo {
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
    height: 150px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
}

.logo:hover {
  background: black;
  transition: background 0.3s ease;
}

#icon {
  color: black;
  font-size: 30px;
  transform: rotate(180deg);
  animation: rotate 0.8s both;
  -webkit-animation: rotate 0.8s both;
  text-decoration: none;
  // padding-left: 15px;
  // margin-left: 5px;s
  @keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);}
  }
}
